@section VendorStyles {
    <link href="~/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/styles/kendo.metro.min.css" rel="stylesheet" />
}

@section PageScripts {
    <script src="~/kendo/jszip.min.js"></script>
    <script src="~/kendo/kendo.all.min.js"></script>
    <script src="~/custom/loading-hide.js"></script>
    <script src="~/custom/tgps/modal-popup-overall.js"></script>
}

@section PageStyles {
    <style>
        #grid {
            font-size: 12px;
        }
    </style>
}

<!-- Modal -->
<div class="modal fade" id="viewGatePassModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="gatePassModalContent">
                <p>Loading...</p>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_Loading")

@* ************** Content ************** *@

<!-- Ajax Sourced Server-side -->
<div class="panelDiv">
    <div class="card mb-6">
        <div class="card-header px-0 pt-0">
            <h5 class="card-header page-header">All Gate Passes</h5>         
        </div>
        <div class="card-body">
            <!-- Transactions -->
            <div class="col align-self-end">
                <div id="example">
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>


