@{
    ViewBag.Title = "Power BI Report";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
    <link href="~/css/input-text-upper.css" rel="stylesheet" />
}

@section VendorScripts {
    <script src="~/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="~/vendor/libs/select2/select2.js"></script>
}

@section PageScripts {
    <script src="~/js/form-layouts.js"></script>
    <script src="~/custom/input-text-upper.js"></script>
}

<div class="card mb-6" style="width: 100%; height: 800px;">
    <iframe src="https://app.powerbi.com/view?r=eyJrIjoiYTY0MmI3OWQtODk2MS00ZjViLThlYWMtNmUyZjVlOGUwMTg3IiwidCI6ImMwM2Q0MWFkLWE5ODUtNDdkMy05MjA0LWExOWFlMDU2ZmYzYiIsImMiOjEwfQ%3D%3D"
            frameborder="0"
            allowfullscreen
            style="width: 100%; height: 100%; border: none;">
    </iframe>
</div>
