@section VendorStyles {
	<link href="~/styles/kendo.common.min.css" rel="stylesheet" />
	<link href="~/styles/kendo.metro.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
}

@section VendorScripts {
	<script src="~/kendo/jszip.min.js"></script>
	<script src="~/kendo/kendo.all.min.js"></script>
	<script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
}

@section PageScripts {
	<script src="~/custom/summary.js"></script>
	<script>
		$(document).ready(function () {
			$("#grid").kendoGrid({
				toolbar: ["excel"],
				excel: {
					allPages: true
				},
				columns: [
					{ draggable: true },
					{ field: "name" }
				],
				dataSource: {
					transport: {
						read: {
							url: "/ITIS/Summary/GetAllDataList",
							dataType: "jsonp"
						}
					},
					pageSize: 15,
					  group: {
						field: "SerialNumber",
						dir: "desc"
					}
				},
				selectable: "multiple row",
				sortable: true,
				reorderable: true,
				pageable: true,
				filterable: {
					mode: "row"
				},
				pageable: {
					buttonCount: 5
				},
				scrollable: true,
				groupable: true,
				columns: [		
					{ field: "Location", title: "Location", width: "180px" },
					{ field: "DeviceType", title: "Type", width: "80px" },
					{ field: "DeviceStatus", title: "Device Status", width: "120px" },
					{ field: "InitialDepartment", title: "Department", width: "120px" },
					{ field: "SerialNumber", title: "Serial Number", width: "150px"  },
					{ field: "DeviceName", title: "Device Name", width: "150px" },
					{ field: "UserStatus", title: "User Status", width: "120px" },
					{ field: "EPF", title: "EPF", width: "150px" },
					{ field: "UserName", title: "User Name", width: "150px" }, // remove after gethered all usernames
					{ field: "EmpName", title: "Employee", width: "150px" },
					{ field: "AssignedBy", title: "Assigned By", width: "150px" },					
					{ field: "AssignedDate", title: "Assigned Date", width: "130px",
						template: function(dataItem) {
							if (!dataItem.AssignedDate) return "";
							const date = new Date(dataItem.AssignedDate);
							const mm = String(date.getMonth() + 1).padStart(2, '0');
							const dd = String(date.getDate()).padStart(2, '0');
							const yyyy = date.getFullYear();
							return `${mm}-${dd}-${yyyy}`;
						}
					},
					{ field: "AssignLocation", title: "Assigned Location", width: "150px" },
					{ field: "AssignDepartment", title: "Assigned Department", width: "150px" },
					{ field: "EmpEmail", title: "Email", width: "180px" },
					{ field: "Designation", title: "Designation", width: "150px" },										
					{ field: "AssignRemarks", title: "Assign Remarks", width: "170px" },
					{ field: "ReturnRemarks", title: "Return Remarks", width: "170px" },
					{ field: "ReturnedDate", title: "Returned Date", width: "130px",
						template: function(dataItem) {
							if (!dataItem.ReturnedDate) return "";
							const date = new Date(dataItem.ReturnedDate);
							const mm = String(date.getMonth() + 1).padStart(2, '0');
							const dd = String(date.getDate()).padStart(2, '0');
							const yyyy = date.getFullYear();
							return `${mm}-${dd}-${yyyy}`;
						}
					}
				],
			});
		});
	</script>
	<script src="~/custom/loading-hide.js"></script>
}

@section PageStyles {
	<style>
		#grid {
			font-size: 12px;
		}

		.grid-container {
			display: grid;
			grid-template-columns: repeat(8, 1fr); /* 8 equal columns */
			gap: 10px;
		}

		.grid-item {
			padding: 20px;
			border: 1px solid #ccc;
			text-align: center;
		}
	</style>
}

@* ************** Content ************** *@
<!-- Ajax Sourced Server-side -->
@await Html.PartialAsync("_Loading")

<div class="panelDiv">
	<div id="modal" style="display:none;">
		<h3><span id="modal-id"></span></h3>
		<div><span id="modal-logs"></span></div>
	</div>
	<div class="card">
		<div class="row">
			<div>
				<!-- Transactions -->
				<div class="col align-self-end">
					<div class="card-body">
						<hr class="my-2">
						<div class="row">
							<div class="col-6">
								<h5 class="card-header page-header">Overal</h5>
							</div>
						</div>
						<div id="example">
							<div id="grid"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
