@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
}
<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo me-1">@await Html.PartialAsync("../_Partials/_Macros")</span>
            <span class="app-brand-text demo menu-text fw-semibold ms-2">@TempData.Peek("appName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="menu-toggle-icon d-xl-block align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    @* ! All *@
    <ul class="menu-inner py-1">
        <li class='menu-item@(currentPage.StartsWith("/") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon fa-solid fa-chart-line"></i>
                <div>Dashboard</div>
            </a>
        </li>

        @if (User.IsInRole("SUPER-ADMIN") || User.IsInRole("SMIM-ADMIN") || User.IsInRole("SMIM-USER"))
        {
            <li class='menu-item@(currentPage.StartsWith("/SMIS") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon fa-solid fa-fax"></i>
                    <div>Machine Inventory</div>
                </a>

                <ul class="menu-sub">
                    <li class='menu-item@(currentPage.StartsWith("/SMIS/Overview") ? " active open" : "")'>
                        <a href="javascript:void(0)" class="menu-link menu-toggle">
                            <i class="menu-icon fa-solid fa-binoculars"></i>
                            <div>Overview</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/SMIS/Overview" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="Overview" asp-action="Index" class="menu-link">
                                    <div>  <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Summary</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/SMIS/Overview/Details" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="Overview" asp-action="Details" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Details</div>
                                </a>
                            </li>
                        </ul>

                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/SMIS/Overview/Pivot" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="Overview" asp-action="Pivot" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Pivot Table</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Transactions -->
                    <li class="menu-header">
                        <span class="menu-header-text">Transactions</span>
                    </li>

                    <!-- Forms -->
                    <li class='menu-item@(currentPage.Contains("/SMIS/MachineAdd") ||
                                                                                                                                                                                                                                                                                                                                                          currentPage.Contains("/SMIS/MachineRequest") ? " active open" : "")'>
                    <a href="javascript:void(0)" class="menu-link menu-toggle">
                        <i class="menu-icon fa-regular fa-hard-drive"></i>
                        <div>Inventory</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage.Contains("/SMIS/MachineAdd") ? " active" : "")'>
                            <a asp-area="SMIS" asp-controller="MachineAdd" asp-action="Index" class="menu-link">
                                <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>  Add New</div>
                            </a>
                        </li>
                        <li class='menu-item@(currentPage.Contains("/SMIS/MachineRequest") ? " active" : "")'>
                            <a asp-area="SMIS" asp-controller="MachineRequest" asp-action="Index" class="menu-link">
                                <div>  <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Machine Requests</div>
                            </a>
                        </li>
                    </ul>
                </li>

                    <li class='menu-item@(currentPage.Contains("/SMIS/ApprovalRequest") ||
                                                            currentPage.Contains("/SMIS/MachineEdit") ||
                                                            currentPage.Contains("/SMIS/MachineDisposal") ||
                                                            currentPage.Contains("/SMIS/PrintCodes") ||
                                                            currentPage.Contains("/SMIS/TerminationRent") ? " active open" : "")'>
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon fa-solid fa-user-tie"></i>
                        <div>Administration</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage.Contains("/SMIS/ApprovalRequest") ? " active" : "")'>
                            <a asp-area="SMIS" asp-controller="ApprovalRequest" asp-action="Index" class="menu-link">
                                <div>  <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Respond to Requests</div>
                            </a>
                        </li>

                            <li class='menu-item@(currentPage.Contains("/SMIS/MachineEdit") ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="MachineEdit" asp-action="Index" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Edit Machines</div>
                                </a>
                            </li>

                            <li class='menu-item@(currentPage.Contains("/SMIS/MachineDisposal") ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="MachineDisposal" asp-action="Index" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Disposal</div>
                                </a>
                            </li>

                            <li class='menu-item@( currentPage.Contains("/SMIS/TerminationRent")  ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="TerminationRent" asp-action="Index" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Rents Terminations </div>
                                </a>
                            </li>

                            <li class='menu-item@( currentPage.Contains("/SMIS/PrintCodes")  ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="PrintCodes" asp-action="Index" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Print QR Codes</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class='menu-item@(currentPage.StartsWith("/Services") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons ri-tools-fill"></i>
                            <div>Services</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/Services/MachineTypes" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="Breakdown" asp-action="Index" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Report Breakdown</div>
                                </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Services/Repairing" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="Repairing" asp-action="Index" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Repairing</div>
                                </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Services/Services" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="Services" asp-action="Index" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Scheduled Services</div>
                                </a>
                            </li>

                        </ul>
                    </li>


                    <li class='menu-item@(currentPage.StartsWith("/Services") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon fa-brands fa-pied-piper"></i>
                            <div>Needles</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/Services/MachineTypes" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="Breakdown" asp-action="Index" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Needle GRN</div>
                                </a>
                            </li>
                            <li class='menu-item@(currentPage == "/Services/Repairing" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="Repairing" asp-action="Index" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Needle Issues</div>
                                </a>
                            </li>

                        </ul>
                    </li>


                    <li class="menu-header">
                        <span class="menu-header-text">Master Data</span>
                    </li>
                    <!-- Forms -->
                    <li class='menu-item@(currentPage.StartsWith("/SMIS/MasterMachine") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon fa-solid fa-fax"></i>
                            <div>Machines</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/SMIS/MasterMachine/McTypes" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="MasterMachine" asp-action="McTypes" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Types</div>
                                </a>
                            </li>
                            <li class='menu-item@(currentPage == "/SMIS/MasterMachine/McBrands" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="MasterMachine" asp-action="McBrands" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Brands</div>
                                </a>
                            </li>
                            <li class='menu-item@(currentPage == "/SMIS/MasterMachine/McModels" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="MasterMachine" asp-action="McModels" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Models</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class='menu-item@(currentPage.StartsWith("/SMIS/MasterCompany") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon fa-regular fa-building"></i>
                            <div>Company</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/SMIS/MasterCompany/Groups" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="MasterCompany" asp-action="Groups" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Groups</div>
                                </a>
                            </li>
                            <li class='menu-item@(currentPage == "/SMIS/MasterCompany/Locations" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="MasterCompany" asp-action="Locations" class="menu-link">
                                    <div>  <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Locations</div>
                                </a>
                            </li>
                            <li class='menu-item@(currentPage == "/SMIS/MasterCompany/Clusters" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="MasterCompany" asp-action="Clusters" class="menu-link">
                                    <div>  <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Cluster</div>
                                </a>
                            </li>
                            <li class='menu-item@(currentPage == "/SMIS/MasterCompany/Units" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="MasterCompany" asp-action="Units" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Units</div>
                                </a>
                            </li>

                        </ul>
                    </li>


                    <li class='menu-item@(currentPage.StartsWith("/SMIS/MasterRenting") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon fa-solid fa-handshake-simple"></i>
                            <div>Renting</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/SMIS/MasterRenting/RentSupplier" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="MasterRenting" asp-action="RentSuppliers" class="menu-link">
                                    <div><span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Suppliers</div>
                                </a>
                            </li>
                            <li class='menu-item@(currentPage == "/SMIS/MasterRenting/CostMethods" ? " active" : "")'>
                                <a asp-area="SMIS" asp-controller="MasterRenting" asp-action="CostMethods" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span> Cost Methods</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>
          }


        @if (User.IsInRole("SUPER-ADMIN") || User.IsInRole("PLMS-ADMIN") || User.IsInRole("PLMS-USER"))
        {
            <li class='menu-item@(currentPage.StartsWith("/PLMS") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon fa-solid fa-arrows-spin"></i>
                    <div>Product Life-Cycle</div>
                </a>

                <ul class="menu-sub">
                    <li class='menu-item@(currentPage.StartsWith("/PLMS/Overview") ? " active open" : "")'>
                        <a href="javascript:void(0)" class="menu-link menu-toggle">
                            <i class="menu-icon fa-solid fa-binoculars"></i>
                            <div>Overview</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/PLMS/Overview" ? " active" : "")'>
                                <a asp-area="PLMS" asp-controller="Overview" asp-action="Index" class="menu-link">
                                    <div>  <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Summary</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Transactions -->
                    <li class="menu-header">
                        <span class="menu-header-text">Transactions</span>
                    </li>

                    <!-- Transactions -> Inquiry  -->
                    <li class='menu-item@(currentPage.Contains("/PLMS/NewInquiry") ||
                                                                        currentPage.Contains("/PLMS/TaskCompletion") ||
                                                                        currentPage.Contains("/PLMS/UpdatePrice") ||
                                                                        currentPage.Contains("/PLMS/UpdateSMV") ||
                                                                        currentPage.Contains("/PLMS/NextStages") ||
                                                                        currentPage.Contains("/PLMS/FactoryHandover") ||
                                                                        currentPage.Contains("/PLMS/CustomerResponse") ? " active open" : "")'>
                    <a href="javascript:void(0)" class="menu-link menu-toggle">
                        <i class="menu-icon fa-regular fa-envelope"></i>
                        <div>Inquiries</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage.Contains("/PLMS/NewInquiry") ? " active" : "")'>
                            <a asp-area="PLMS" asp-controller="NewInquiry" asp-action="Index" class="menu-link">
                                <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>New Inquiry</div>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage.Contains("/PLMS/TaskCompletion") ? " active" : "")'>
                            <a asp-area="PLMS" asp-controller="TaskCompletion" asp-action="Index" class="menu-link">
                                <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Task Completion</div>
                            </a>
                        </li>
                    </ul>
                  @*   <ul class="menu-sub">
                        <li class='menu-item@(currentPage.Contains("/PLMS/UpdatePrice") ? " active" : "")'>
                            <a asp-area="PLMS" asp-controller="UpdatePrice" asp-action="Index" class="menu-link">
                                <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>FOB/CM Price</div>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage.Contains("/PLMS/UpdateSMV") ? " active" : "")'>
                            <a asp-area="PLMS" asp-controller="UpdateSMV" asp-action="Index" class="menu-link">
                                <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>SMV Update</div>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage.Contains("/PLMS/CustomerResponse") ? " active" : "")'>
                            <a asp-area="PLMS" asp-controller="CustomerResponse" asp-action="Index" class="menu-link">
                                <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Customer Response</div>
                            </a>
                        </li>
                    </ul> *@
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage.Contains("/PLMS/NextStages") ? " active" : "")'>
                            <a asp-area="PLMS" asp-controller="NextStages" asp-action="Index" class="menu-link">
                                <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Other Stages</div>
                            </a>
                        </li>
                    </ul>
                   @*  <ul class="menu-sub">
                        <li class='menu-item@(currentPage.Contains("/PLMS/FactoryHandover") ? " active" : "")'>
                            <a asp-area="PLMS" asp-controller="FactoryHandover" asp-action="Index" class="menu-link">
                                <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Factory Handover</div>
                            </a>
                        </li>
                    </ul> *@
                </li>

                    <!-- Transactions -> Administration  -->
                    <li class='menu-item@(currentPage.Contains("/PLMS/CPTemplate") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon fa-solid fa-user-tie"></i>
                            <div>Administration</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage.Contains("/PLMS/CPTemplate/CPCreate") ? " active" : "")'>
                                <a asp-area="PLMS" asp-controller="CPTemplate" asp-action="CPCreate" class="menu-link">
                                    <div>  <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Critical Paths</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Master Data -->
                    <li class="menu-header">
                        <span class="menu-header-text">Master Data</span>
                    </li>

                    <li class='menu-item@(currentPage.StartsWith("/PLMS/MasterInquiries") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon fa-solid fa-fax"></i>
                            <div>Inquiry Data</div>
                        </a>

                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/PLMS/MasterInquiries/InquiryTypes" ? " active" : "")'>
                                <a asp-area="PLMS" asp-controller="MasterInquiries" asp-action="InquiryTypes" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Inquiry Types</div>
                                </a>
                            </li>
                        </ul>

                         <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/PLMS/MasterInquiries/Customers" ? " active" : "")'>
                                <a asp-area="PLMS" asp-controller="MasterInquiries" asp-action="Customers" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Customers</div>
                                </a>
                            </li>
                        </ul>

                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/PLMS/MasterInquiries/SampleTypes" ? " active" : "")'>
                                <a asp-area="PLMS" asp-controller="MasterInquiries" asp-action="SampleTypes" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Sample Types</div>
                                </a>
                            </li>
                        </ul>

                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/PLMS/MasterInquiries/CPActivities" ? " active" : "")'>
                                <a asp-area="PLMS" asp-controller="MasterInquiries" asp-action="CPActivities" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Activities</div>
                                </a>
                            </li>
                        </ul>

                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/PLMS/MasterInquiries/UserCategories" ? " active" : "")'>
                                <a asp-area="PLMS" asp-controller="MasterInquiries" asp-action="UserCategories" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>User Categories</div>
                                </a>
                            </li>
                        </ul>

                    </li>

                </ul>
            </li>
         }


        @if (User.IsInRole("SUPER-ADMIN") || User.IsInRole("TGPS-ADMIN") || User.IsInRole("TGPS-USER") || User.IsInRole("GDRM-USER"))
        {
            <li class='menu-item@(currentPage.StartsWith("/TGPS") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon fa-solid fa-torii-gate"></i>
                    <div>Gate Pass</div>
                </a>

                <ul class="menu-sub">
                    <li class='menu-item@(currentPage.StartsWith("/TGPS/Overview") ? " active open" : "")'>
                        <a href="javascript:void(0)" class="menu-link menu-toggle">
                            <i class="menu-icon fa-solid fa-binoculars"></i>
                            <div>Overview</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/TGPS/Overview" ? " active" : "")'>
                                <a asp-area="TGPS" asp-controller="Overview" asp-action="Index" class="menu-link">
                                    <div>  <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Summary</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    @if (User.IsInRole("SUPER-ADMIN") || User.IsInRole("TGPS-ADMIN") || User.IsInRole("TGPS-USER") )
                    {
                    <!-- Transactions -->
                    <li class="menu-header">
                        <span class="menu-header-text">Transactions</span>
                    </li>

                    <!-- Transactions -> Inquiry  -->
                    <li class='menu-item@(currentPage.Contains("/TGPS/GenGoodsPass") ||
                                                                                                                                                                                                                                                                                                                                                  currentPage.Contains("/TGPS/GenEmpPass") ||
                                                                                                                                                                                                                                                                                                                                                  currentPage.Contains("/TGPS/GenVisitorPass") ? " active open" : "")'>
                    <a href="javascript:void(0)" class="menu-link menu-toggle">
                        <i class="menu-icon fa-solid fa-pen-to-square"></i>
                        <div>Generate</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage.Contains("/TGPS/GenGoodsPass") ? " active" : "")'>
                            <a asp-area="TGPS" asp-controller="GenGoodsPass" asp-action="Index" class="menu-link">
                                <div> <span>   <i class="menu-icon fa-solid fa-angles-right"></i> </span>Goods Pass</div>
                            </a>
                        </li>
                    </ul>               
                    @* <ul class="menu-sub">
                        <li class='menu-item@(currentPage.Contains("/TGPS/GenVisitorPass") ? " active" : "")'>
                            <a asp-area="TGPS" asp-controller="GenVisitorPass" asp-action="Index" class="menu-link">
                                <div> <span>  <i class="menu-icon fa-solid fa-angles-right"></i> </span>Visitor Pass</div>
                            </a>
                        </li>
                    </ul> *@
                    </li>

                    }
                
                    <!-- Transactions -> Administration  -->
                @if (User.IsInRole("SUPER-ADMIN") || User.IsInRole("TGPS-ADMIN"))
                {
                    <li class='menu-item@(currentPage.Contains("/TGPS/Response") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon fa-solid fa-pen-nib"></i>
                            <div>Authorization</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage.Contains("/TGPS/Response/GoodsPass") ? " active" : "")'>
                                <a asp-area="TGPS" asp-controller="Response" asp-action="GoodsPass" class="menu-link">
                                    <div>  <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Goods Pass</div>
                                </a>
                            </li>
                        </ul>                       
                        @*   <ul class="menu-sub">
                        <li class='menu-item@(currentPage.Contains("/GTPS/CriticalPathActivities/CriticalPathEditor") ? " active" : "")'>
                            <a asp-area="PLMS" asp-controller="CriticalPathActivities" asp-action="CriticalPathEditor" class="menu-link">
                                <div>  <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Visitor Pass</div>
                            </a>
                        </li>
                    </ul> *@
                    </li>

                    }
                    <!-- Master Data -->

                    <li class="menu-header">
                        <span class="menu-header-text">Master Data</span>
                    </li>

                    <li class='menu-item@(currentPage.Contains("/TGPS/MasterGoodsPass") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon fa-solid fa-fax"></i>
                            <div>Goods Pass</div>
                        </a>

                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/TGPS/MasterGoodsPass/NewAddress" ? " active" : "")'>
                                <a asp-area="TGPS" asp-controller="MasterGoodsPass" asp-action="NewAddress" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>New Address</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/TGPS/MasterGoodsPass/NewUnits" ? " active" : "")'>
                                <a asp-area="TGPS" asp-controller="MasterGoodsPass" asp-action="NewUnits" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>New Units</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/TGPS/MasterGoodsPass/NewDrivers" ? " active" : "")'>
                                <a asp-area="TGPS" asp-controller="MasterGoodsPass" asp-action="NewDrivers" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>New Drivers</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/TGPS/MasterGoodsPass/NewVehicles" ? " active" : "")'>
                                <a asp-area="TGPS" asp-controller="MasterGoodsPass" asp-action="NewVehicles" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>New Vehicles</div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/TGPS/MasterGoodsPass/NewIssues" ? " active" : "")'>
                                <a asp-area="TGPS" asp-controller="MasterGoodsPass" asp-action="NewIssues" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>New Issues</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                      
                </ul>
            </li>
         }


        @if (User.IsInRole("SUPER-ADMIN") || User.IsInRole("GDRM-USER"))
        {
            <li class='menu-item@(currentPage.StartsWith("/GDRM") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon fa-solid fa-bus"></i>
                    <div>Guard Room</div>
                </a>

                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/GDRM/GoodsPass" ? " active" : "")'>
                        <a asp-area="GDRM" asp-controller="GoodsPass" asp-action="Index" class="menu-link">
                            <div>  <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Goods Pass</div>
                        </a>
                    </li>
                </ul>            

            </li>
        }


        @if (User.IsInRole("SUPER-ADMIN") || User.IsInRole("ITIS-ADMIN") || User.IsInRole("ITIS-USER"))
        {
            <li class='menu-item@(currentPage.StartsWith("/ITIS") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon fa-solid fa-boxes-stacked"></i>
                    <div>IT Inventory</div>
                </a>

                <ul class="menu-sub">

                    <li class='menu-item@(currentPage.StartsWith("/ITIS/Summary") ? " active open" : "")'>
                        <a href="javascript:void(0)" class="menu-link menu-toggle">
                            <i class="menu-icon fa-solid fa-binoculars"></i>
                            <div>Overview</div>
                        </a>
                        <ul class="menu-sub">
							<li class='menu-item@(currentPage == "/ITIS/Summary/Index" ? " active" : "")'>
								<a asp-area="ITIS" asp-controller="Summary" asp-action="Index" class="menu-link">
									<div>  <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Overall</div>
                                </a>
                            </li>
							<li class='menu-item@(currentPage == "/ITIS/Summary/DeviceCount" ? " active" : "")'>
								<a asp-area="ITIS" asp-controller="Summary" asp-action="DeviceCount" class="menu-link">
									<div>  <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Count</div>
								</a>
							</li>
                            <li class='menu-item@(currentPage == "/ITIS/Summary/Analytics" ? " active" : "")'>
                                <a asp-area="ITIS" asp-controller="Summary" asp-action="Analytics" class="menu-link">
                                    <div>  <span>    <i class="menu-icon fa-solid fa-angles-right"></i></span>Analytics</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Transactions -->
                    <li class="menu-header">
                        <span class="menu-header-text">Transactions</span>
                    </li>

                    <!-- Forms -->
                    <li class='menu-item@(currentPage.Contains("/ITIS/Device") ||
                                                              currentPage.Contains("/ITIS/DeviceUser") ? " active open" : "")'>
                    <a href="javascript:void(0)" class="menu-link menu-toggle">
                        <i class="menu-icon fa-regular fa-hard-drive"></i>
                        <div>Inventory</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage == "/ITIS/Device" ? " active" : "")'>
                            <a asp-area="ITIS" asp-controller="Device" asp-action="Index" class="menu-link">
                                <div> <span>    <i class="menu-icon fa-solid fa-computer"></i></span>Assests</div>
                            </a>
                        </li>
                        <li class='menu-item@(currentPage == "/ITIS/DeviceUser" ? " active" : "")'>
                            <a asp-area="ITIS" asp-controller="DeviceUser" asp-action="Index" class="menu-link">
                                <div>  <span>    <i class="menu-icon fa-solid fa-users"></i></span>Allocation</div>
                            </a>
                        </li>
                    </ul>
                </li>
				@if (User.IsInRole("SUPER-ADMIN") || User.IsInRole("ITIS-ADMIN"))
				{
					<li class='menu-item@(currentPage.Contains("/ITIS/ApproveDeviceUser") ? " active open" : "")'>
						<a href="javascript:void(0)" class="menu-link menu-toggle">
							<i class="menu-icon fa-solid fa-user-tie"></i>
							<div>Approve</div>
						</a>
						<ul class="menu-sub">
							<li class='menu-item@(currentPage == "/ITIS/ApproveDeviceUser" ? " active" : "")'>
								<a asp-area="ITIS" asp-controller="ApproveDeviceUser" asp-action="Index" class="menu-link">
									<div> <span>    <i class="menu-icon fa-solid fa-thumbs-up"></i></span>Approve Assign</div>
								</a>
							</li>
						</ul>
					</li>

				}
                   
                    <!--Master Data-->
                    <li class="menu-header">
                        <span class="menu-header-text">Master Data</span>
                    </li>
                    <!-- Forms -->
                    <li class='menu-item@(currentPage.StartsWith("/ITIS/DeviceType") || currentPage.StartsWith("/ITIS/Attribute") ? " active open" : "")'>
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon fa-solid fa-desktop"></i>
                            <div>Device</div>
                        </a>
                        <ul class="menu-sub">
                            <li class='menu-item@(currentPage == "/ITIS/DeviceType" ? " active" : "")'>
                                <a asp-area="ITIS" asp-controller="DeviceType" asp-action="Index" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-layer-group"></i></span>Device Types</div>
                                </a>
                            </li>
                            <li class='menu-item@(currentPage == "/ITIS/Attribute" ? " active" : "")'>
                                <a asp-area="ITIS" asp-controller="Attribute" asp-action="Index" class="menu-link">
                                    <div> <span>    <i class="menu-icon fa-solid fa-gears"></i></span>Device Attributes</div>
                                </a>
                            </li>
						@if (User.IsInRole("SUPER-ADMIN") || User.IsInRole("ITIS-ADMIN"))
						{
							<li class='menu-item@(currentPage == "/ITIS/ADSync" ? " active" : "")'>
								<a asp-area="ITIS" asp-controller="ADSync" asp-action="Index" class="menu-link">
									<div>  <span>    <i class="menu-icon fa-solid fa-rotate"></i></span>Data Sync</div>
								</a>
							</li>
						}                           
                        </ul>
                    </li>
                </ul>
            </li>
        }


        @if (User.IsInRole("SUPER-ADMIN"))
        {

			<li class='menu-item@(currentPage.StartsWith("/TAPS") ? " active open" : "")'>
				<a href="javascript:void(0);" class="menu-link menu-toggle">
					<i class="menu-icon fa-solid fa-gear"></i>
					<div>Admin Panel</div>
				</a>				
				<ul class="menu-sub">					
					<li class='menu-item@(currentPage == "/TAPS/NewUser" ? " active" : "")'>
						<a asp-area="TAPS" asp-controller="NewUser" asp-action="Index" class="menu-link">
							<div>  <span>    <i class="menu-icon fa-solid fa-users-gear"></i></span>New User</div>
						</a>
					</li>
					<li class='menu-item@(currentPage == "/TAPS/Admin" ? " active" : "")'>
						<a asp-area="TAPS" asp-controller="Admin" asp-action="Index" class="menu-link">
							<div>  <span>    <i class="menu-icon fa-solid fa-users-gear"></i></span>User Role</div>
						</a>
					</li>
					<li class='menu-item@(currentPage == "/TAPS/Admin/AssignApprover" ? " active" : "")'>
						<a asp-area="TAPS" asp-controller="Admin" asp-action="AssignApprover" class="menu-link">
							<div>  <span>    <i class="menu-icon fa-solid fa-users-gear"></i></span>Assign Approvers</div>
						</a>
					</li>
					<li class='menu-item@(currentPage == "/TAPS/Admin/AssignLocation" ? " active" : "")'>
						<a asp-area="TAPS" asp-controller="Admin" asp-action="AssignLocation" class="menu-link">
							<div>  <span>    <i class="menu-icon fa-solid fa-users-gear"></i></span>Assign Location</div>
						</a>
					</li>
				</ul>
			</li>
		}


        @if (User.IsInRole("HRRS-USER") || User.IsInRole("HRRS-APPROVER") || User.IsInRole("SUPER-ADMIN"))
        {
            <li class='menu-item@(currentPage.StartsWith("/HRRS") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon fa-solid fa-gear"></i>
                    <div>HR Request</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/HRRS/ITRequest/Index" ? " active" : "")'>
                        <a asp-area="HRRS" asp-controller="ITRequest" asp-action="Index" class="menu-link">
                            <div>  <span>    <i class="menu-icon fa-solid fa-file-invoice"></i></span>Create</div>
                        </a>
                    </li>
                    @if (User.IsInRole("HRRS-APPROVER") || User.IsInRole("SUPER-ADMIN"))
                    {
                        <li class='menu-item@(currentPage == "/HRRS/ApproveITRequest/Index" ? " active" : "")'>
                            <a asp-area="HRRS" asp-controller="ApproveITRequest" asp-action="Index" class="menu-link">
                                <div>  <span>    <i class="menu-icon fa-solid fa-thumbs-up"></i></span>Approve</div>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>

</aside>
<!-- / Menu -->
