@using TMIS.Models.ITIS.VM
@model ReturnDeviceVM

@section VendorStyles {
	<link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css" />
	<link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
	<link href="~/css/input-text-upper.css" rel="stylesheet" />
}

@section VendorScripts {
	<script src="~/vendor/libs/flatpickr/flatpickr.js"></script>
	<script src="~/vendor/libs/select2/select2.js"></script>
}

@section PageScripts {
	<script src="~/js/form-layouts.js"></script>
	<script src="~/custom/input-text-upper.js"></script>
	<script>
		$('#selectedDevice').val(null).trigger('change');
		$('#selectedDevice').on('change', function () {

			$('#deviceDetailContainer').empty();
			$('#userDetailContainer').empty();
			const deviceId = $(this).val();

			if (!deviceId) return;

			$.get(`/ITIS/DeviceUser/GetDeviceDetails?deviceId=${deviceId}`, function (data) {
				let allHtml =  '<div class="row g-2">'; // Wrap with Bootstrap row;

				allHtml += `
						<div class="col-md-3">
						  <div class="form-floating form-floating-outline">
								<input type="text" class="form-control" value="${data.deviceType ? data.deviceType : '-'}" disabled/>
								<label>Asset Type</label>
						  </div>
						</div>
						<div class="col-md-3">
						  <div class="form-floating form-floating-outline">
								<input type="text" class="form-control" value="${data.deviceName ? data.deviceName : '-'}" disabled/>
								<label>Asset Name</label>
						  </div>
						</div>
						<div class="col-md-3">
						  <div class="form-floating form-floating-outline">
								<input type="text" class="form-control" value="${data.serialNumber ? data.serialNumber : '-'}" disabled/>
								<label>Serial Number</label>
						  </div>
						</div>
						<div class="col-md-3">
						  <div class="form-floating form-floating-outline">
								<input type="text" class="form-control" value="${data.fixedAssetCode ? data.fixedAssetCode : '-'}" disabled/>
								<label>FA Code</label>
						  </div>
						</div>
						<div class="col-md-3">
						  <div class="form-floating form-floating-outline">								
								<input type="text" class="form-control" value="${data.purchasedDate ? (new Date(data.purchasedDate).toLocaleDateString('en-GB').split('/').reverse().join('-')) : '-'}" disabled/>
								<label>Purchased Date</label>
						  </div>
						</div>
						<div class="col-md-3">
						  <div class="form-floating form-floating-outline">
								<input type="text" class="form-control" value="${data.depreciation ? data.depreciation : '-'}" disabled/>
								<label>Depreciation</label>
						  </div>
						</div>
							<div class="col-md-3">
							  <div class="form-floating form-floating-outline">
								<input type="text" class="form-control" value="${data.vendor ? data.vendor : '-'}" disabled/>
								<label>Vendor</label>
							  </div>
							</div>
							<div class="col-md-3">
							  <div class="form-floating form-floating-outline">
								<input type="text" class="form-control" value="${data.location ? data.location : '-'}" disabled/>
								<label>Location</label>
							  </div>
							</div>
							<div class="col-md-2">
							  <div class="list-group">
								<label class="list-group-item w-100">
								  <span class="form-check mb-0">
									<input type="checkbox"
									  class="form-check-input me-4"
									  ${data.isRented ? "checked disabled" : "disabled"}
									  id="isRentedCheck" />
									<label class="form-check-label" for="isRentedCheck">Is Rented</label>
								  </span>
								</label>
							  </div>
							</div>
							<div class="col-md-2">
							  <div class="list-group">
								<label class="list-group-item w-100">
								  <span class="form-check mb-0">
									<input type="checkbox"
									  class="form-check-input me-4"
									  ${data.isBrandNew ? "checked disabled" : "disabled"}
									  id="isRentedCheck" />
									<label class="form-check-label" for="isRentedCheck">Is Rented</label>
								  </span>
								</label>
							  </div>
							</div>
							<div class="col-md-3">
							  <div class="form-floating form-floating-outline">
								<input type="text" class="form-control" value="${data.department ? data.department : '-'}" disabled/>
								<label>Cost Center</label>
							  </div>
							</div>
							<div class="col-md-5">
							  <div class="form-floating form-floating-outline">
								<input type="text" class="form-control" value="${data.remark ? data.remark : '-' }" disabled/>
								<label>Description</label>
							  </div>
							</div>
							`;

				  data.attributeValues.forEach(attr => {
					let html = `<div class="col-md-3">
								  <div class="form-floating form-floating-outline">`;
							html += `<input type="text" class="form-control" value="${attr.valueText}" disabled />`;
						html += `<label>${attr.name}</label>
									  </div>
								</div>`;
					allHtml += html; // Add to the main HTML variable
				  });

				allHtml += '</div>'; // Close the row
				$('#deviceDetailContainer').html(allHtml);

			});
			
			$.get(`/ITIS/DeviceUser/GetUserDetails?deviceId=${deviceId}`, function (data){
				let allHtml2 =  '<div class="row g-2">';
				allHtml2 += `
							<div class="col-md-3">
							  <div class="form-floating form-floating-outline">
								  <input type="text" class="form-control" value="${data.empName ? data.empName : '-' }" disabled/>
								  <label>Employee</label>
							  </div>
							</div>
							<div class="col-md-3">
							  <div class="form-floating form-floating-outline">
								  <input type="text" class="form-control" value="${data.assignLocation ? data.assignLocation : '-' }" disabled/>
								  <label>User Location</label>
							  </div>
							</div>
							<div class="col-md-3">
							  <div class="form-floating form-floating-outline">
								  <input type="text" class="form-control" value="${data.assignDepartment ? data.assignDepartment : '-' }" disabled/>
								  <label>User Department</label>
							  </div>
							</div>
							<div class="col-md-3">
							  <div class="form-floating form-floating-outline">
								  <input type="text" class="form-control" value="${data.empNo ? data.empNo : '-'}" disabled/>
								  <input name="RecordID" type="hidden" value="${data.assignmentID}" />
								  <label>Employee #</label>
							  </div>
							</div>
							<div class="col-md-3">
							  <div class="form-floating form-floating-outline">
									<input type="text" class="form-control" value="${data.designation ? data.designation : '-'}" disabled/>
									<label>Designation</label>
							  </div>
							</div>
							<div class="col-md-3">
							  <div class="form-floating form-floating-outline">
								  <input type="text" class="form-control" value="${data.assignedDate ? (new Date(data.assignedDate).toLocaleDateString('en-GB').split('/').reverse().join('-')) : '-'}" disabled/>
								  <label>Assigned Date</label>
							  </div>
							</div>
							<div class="col-md-3">
							  <div class="form-floating form-floating-outline">
									<input type="text" class="form-control" value="${data.assignRemarks ? data.assignRemarks : '-'}" disabled/>
									<label>Assigner Comment</label>
							  </div>
							</div>
							<div class="col-md-3">							 
							</div>
							<div class="col-md-3">
							  <div class="form-floating form-floating-outline">
								  <input type="text" class="form-control" value="${data.approverResponseDate ? (new Date(data.approverResponseDate).toLocaleDateString('en-GB').split('/').reverse().join('-')) : '-'}" disabled/>
								  <label>Approved Date</label>
							  </div>
							</div>
							<div class="col-md-3">
							  <div class="form-floating form-floating-outline">
								  <input type="text" class="form-control" value="${data.approverRemark ? data.approverRemark : '-'}" disabled/>
								  <label>Approver Comment</label>
							  </div>
							</div>
							<div class="col-md-3">
							  <div class="form-floating form-floating-outline">
								  <input type="text" class="form-control" value="${data.assignStatus ? data.assignStatus : '-'}" disabled/>
								  <label>Assign State</label>
							  </div>
							</div>
							`;
				allHtml2 += '</div>'; // Close the row
				$('#userDetailContainer').html(allHtml2);
			});

		});
	</script>
}

<!-- Multi Column with Form Separator -->
<div class="card mb-6">
	<h5 class="card-header page-header">
		Return Asset
	</h5>
	<form asp-action="Return" method="post" class="card-body" id="myForm" enctype="multipart/form-data">
		<div class="row g-2">			
			<div class="col-md-3">
				<div class="form-floating form-floating-outline">
					<select asp-for="Device" asp-items="@Model.DeviceSerialList" id="selectedDevice" class="select2 form-select" data-allow-clear="true">
						<option value="" Disabled Selected>- Select Asset -</option>
					</select>

					<label asp-for="Device"></label>
					<span asp-validation-for="Device" class="text-warning"></span>
				</div>
			</div>			
			<div class="card" id="deviceDetailsField">
				<div class="card-header fw-bold">
					Asset Details
				</div>
				<div class="card-body">
					<div class="row g-2" id="deviceDetailContainer">
						<!-- Dynamic content will go here -->
					</div>
				</div>
			</div>
			<div class="card" id="userDetailsField">
				<div class="card-header fw-bold">
					User Details
				</div>
				<div class="card-body">
					<div class="row g-2" id="userDetailContainer">
						<!-- Dynamic content will go here -->
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="form-floating form-floating-outline">
					<input class="form-control" type="file" name="image">
					<label asp-for="@Model.ReturnTimeImage" class="form-label"></label>
				</div>
			</div>
			<div class="col-md-8">
				<div class="form-floating form-floating-outline">
					<input type="text" class="form-control" asp-for="@Model.ReturnRemark"/>
					<label>Comment</label>
					<span asp-validation-for="@Model.ReturnRemark" class="customerError text-warning"></span>
				</div>
			</div>
			<div class="pt-1">
				<button type="submit" class="btn btn-primary me-1">Unassign</button>
				<a asp-controller="DeviceUser" asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
			</div>

		</div>
	</form>

</div>

